<html>
<head><title>Wombat</title></head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Wombat</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Virt <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/inventory">Inventory</a>
                <a class="nav-item nav-link" href="#">Puppet</a>                
            </div>
            
        </div>    
    </nav>
{% block body %}
{% endblock %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
</body>
</html>